<div class="left">
  {{#link-to 'index' tabIndex=-1}}
      <div class="logo" id="logo">
          <img src="assets/logo.png" alt="esco logo">
      </div>
      <div class="title">
          <h2>Translation</h2>
      </div>
  {{/link-to}}
</div>
<div class="right">
    {{#if tasks.lastFetched}}
        <div class="progress">
            <div class="bar">
                <ul>
                    <li class="to-do" style={{percentages.totalTodo}}></li>
                    <li class="inprogress" style={{percentages.inprogress}}></li>
                    <li class="translated" style={{percentages.translated}}></li>
                    <li class="reviewed" style={{percentages.totalReviewed}}></li>
                    <li class="confirmed" style={{percentages.confirmed}}></li>
                </ul>
            </div>
            <div class="labels">
                <div class="to-do">
                    <label>To do</label>
                    <span class="count">{{tasks.totalTodo}}</span>
                </div>
                <div class="inprogress">
                    <label>In progress</label>
                    <span class="count">{{tasks.inprogress}}</span>
                </div>
                <div class="translated">
                    <label>Translated</label>
                    <span class="count">{{tasks.translated}}</span>
                </div>
                <div class="reviewed">
                    <label>Reviewed</label>
                    <span class="count">{{tasks.totalReviewed}}</span>
                </div>
                <div class="confirmed">
                    <label>Confirmed</label>
                    <span class="count">{{tasks.confirmed}}</span>
                </div>
            </div>
        </div>
    {{/if}}
    <div class="dropdowns">
      <div class="poetry">
        {{poetry-task-selector}}
      </div>
      <div class="notifications">
        {{display-notifications user=user handleClick="handleClick" targetAttachment='bottom left' attachment='top right'}}
      </div>
      <div class="user-nav">
        <a {{action 'toggleMenu'}} class="user-nav-btn {{if menuClosed "closed"}}" title="View user settings">
          <span class="avatar"></span>
          <span class="arrow">
            <i class="fa fa-angle-down"></i>
          </span>
        </a>
        <ul class="{{if menuClosed "closed"}}">
          {{#if session.isAuthenticated}}
            <span {{action 'closeMenu'}}>{{#link-to 'profile' tagName="li"}}Profile{{/link-to}}</span>
            {{#if allowedOnNotifications}}
              <span {{action 'closeMenu'}}>{{#link-to "notifications"  tagName="li"}}Notifications{{/link-to}}</span>
            {{/if}}
	            <span {{action 'closeMenu'}}>{{#link-to 'export' tagName="li"}}Export{{/link-to}}</span>
              <span {{action 'closeMenu'}}>{{#link-to 'xml-import' tagName="li"}}XML Import{{/link-to}}</span>
            {{#if allowedOnValidation}}
              <span {{action 'closeMenu'}}>{{#link-to 'validation' (query-params platform='translation') tagName="li"}}Validate{{/link-to}}</span>
            {{/if}}
            {{!-- <span {{action 'closeMenu'}}>{{#link-to 'admin' tagName="li"}}Admin{{/link-to}}</span> --}}
            <span class="logout-button">{{ecas-logout tagName="li"}}</span>
          {{else}}
            <span {{action 'closeMenu'}}>{{#link-to 'sign-in' tagName="li"}}Sign in{{/link-to}}</span>
          {{/if}}
        </ul>
      </div>
    </div>
</div>
