<div class="detail">
    <div class="form">
        <div class="section">
            <div class="title">
                My notifications
                {{#if showExpiredNotifications}}
                    <button class="btn btn--small btn--show-note" {{action 'setShowExpiredNotifications' false}}>Hide expired notifications</button>
                {{else}}
                    <button class="btn btn--small btn--show-note" {{action 'setShowExpiredNotifications' true}}>Show expired notifications</button>
                {{/if}}
            </div>
        </div>
      {{#if (await emptyNotifications)}}
          There are no notifications.
      {{else}}
          <table>
              <tr>
                  <th>Expiration date</th>
                  <th>Purpose</th>
                  <th>Type</th>
                  <th>Message</th>
                  <th></th>
                  <th></th>
              </tr>
            {{#each (await notifications) as |notification|}}
              {{#if notification.id}}
                  <tr>
                      <td>{{custom-format-date notification.expirationDate format="YYYY/MM/DD"}}</td>
                      <td>{{notification.purpose}}</td>
                      <td>{{notification.notificationType}}</td>
                      <td>{{notification.message}}</td>
                      <td {{action 'update' notification}} class="update"></td>
                      <td {{action 'delete' notification}} class="delete"></td>
                  </tr>
              {{/if}}
            {{/each}}
          </table>
      {{/if}}
    </div>
</div>
