{{#if searchLoading}}
	<div class="loading">
    	<i class="fa fa-circle-o-notch fa-spin"></i>
 	</div>
{{else}}
	<ul>
	  {{#each searchResults as |result|}}
        <li class="aet" onclick={{action "activateItem" result}}>
            <div class="aet-node">
                <div class="aet-label">
                  {{await result.defaultPrefLabel}}
                  {{concept-status model=result}}
                </div>
            </div>
        </li>
	  {{else}}
    	<li class="no-results">No results found for <span>{{searchQuery}}</span></li>
    {{/each}}
	</ul>
{{/if}}
